export CARGO_TARGET_DIR="${HOME}/.cache/default-rust-target"

# Use uniq_cache for a stable ~/.cache/uniq/rust/... dir based off the
# directory tree we're ran in.
if [ -t 0 ]; then
  case "${SHELL##*/}" in
    zsh|bash)
      if has uniq_cache; then
        export CARGO_TARGET_DIR=$(uniq_cache rust)
      fi
      ;;
  esac
fi

export PREFIX=${CARGO_TARGET_DIR}

export PATH=$PATH:${PREFIX}/debug:${PREFIX}/release:$(pwd)/result/bin

export RUST_BACKTRACE=full

# Make this stuff non portable but slightly faster (local dev opt in)
#export RUSTFLAGS="-C target-cpu=native"

export RUST_LOG=info,lorn=debug

has nix && use flake

[ -e local.env ] && . local.env

# Watch this file and reload direnv on changes.
watch_file flake.nix
